@import "内容统一CSS.css";
@import "选择功能CSS.css";
img.leftimg{
    position:absolute;
    left:-50px;
    top:200px;
}
div.content1 {
    top:150px;
}
div.content1 li{
    font-weight:900;
}
div.content1 p{
    font-size:50px;
    margin-top:10px;
}
div.left img{
    position:absolute;
    left:-60px;
}
div.bottom{
    margin-top:-400px;
}