
body{
    background-color:#444;
    width:100%;
}
div.top{
    background-color:black;
    width:103%;
    position:relative;
    top:-15px;
    left:-10px;
    height:80px;
    background-image:url(images/logo.png);
    background-repeat:no-repeat;
    background-position:left;
    z-index:1;
}
div.navmap{
    width:1350px;
    background-image:url(images/nav.png);
    background-repeat:repeat-x;
    position:absolute;
    top:70px;
    height:50px;
    left:-19px;
}
ul#nav{
    position:absolute;
    list-style-type:none;
    top:20%;
    left:60%;
}
ul#nav li{
    display:inline-block;
    padding-left:40px;
}
ul#nav a{
    display:block;
    text-decoration:none;
    color:white;
    height:48px;
    position:relative;
    top:-23px;
    padding-top:23px;
    padding-left:5px;
    padding-right:5px;
}
ul#nav a:hover{
    color:black;
    background-color:white;
}
div.nav2 {
    position: relative;
    border: 1px solid #bababa;
    width:300px;
    border-top:none;
    left:-9999px;
    top:-33px;
    z-index:1;
    background-color:white;
}
div.nav2 h3{
   color:grey;
   padding-left:30px;
   padding-top:20px;
}
div.nav2 ul{
    list-style-type:none;
}
div.nav2 li {
    margin: 10px;
}
div.nav2 p {
    font-weight: bold;
}
div.nav2 a {
    text-decoration: none;
    color: #343434;
    font-size: small;
}
div.nav3 {
    position:relative;
    border: 1px solid #bababa;
    width:300px;
    top:-418px;
    left:-9999px;
    z-index:1;
    background-color:white;
    border-top:none;
}
div.nav3 h3{
   color:grey;
   padding-left:30px;
   padding-top:20px;
}
div.nav3 ul{
    list-style-type:none;
}
div.nav3 li{
    margin:10px;
}
div.nav3 p{
    font-weight:bold;
}
div.nav3 a{
    text-decoration: none;
    color: #343434;
    font-size: small;
}
div.wrapper{
    position:relative;
    background-color:white;
    width:1000px;
    margin:0 auto;
    margin-top:-912px;
    height:1300px;

}
div.wrapper h2{
    color:#333;
    padding-left:20px;
    padding-top:20px;
}
div.content h1{
    font-size:160%;
    font-weight:200;
    padding-left:40px;

}
div.wrapper hr{
    width:95%;
}
div.bottom{
    position:relative;
    background-color:black;
    height:210px;
    color:white;
    width:1370px;
    left:-10px;
    padding-left:20px;
    margin-top:-30px;
    bottom:-10px;

}