body{
    width:100%;
}
div.top{
    background-color:black;
    width:103%;
    position:relative;
    top:-15px;
    left:-10px;
    height:80px;
    background-image:url(images/logo.png);
    background-repeat:no-repeat;
    background-position:left;
    z-index:1;
}
div.navmap{
    width:1350px;
    background-image:url(images/nav.png);
    background-repeat:repeat-x;
    position:absolute;
    top:70px;
    height:50px;
    left:-19px;
}
ul#nav{
    position:absolute;
    list-style-type:none;
    top:20%;
    left:60%;
}
ul#nav li{
    display:inline-block;
    padding-left:40px;
}
ul#nav a{
    display:block;
    text-decoration:none;
    color:white;
    height:48px;
    position:relative;
    top:-23px;
    padding-top:23px;
    padding-left:5px;
    padding-right:5px;
}
ul#nav a:hover{
    color:black;
    background-color:white;
}
div.nav2 {
    position: relative;
    border: 1px solid #bababa;
    width:300px;
    border-top:none;
    left:-9999px;
    top:-33px;
    z-index:1;
    background-color:white;
}
div.nav2 h3{
   color:grey;
   padding-left:30px;
   padding-top:20px;
}
div.nav2 ul{
    list-style-type:none;
}
div.nav2 li {
    margin: 10px;
}
div.nav2 p {
    font-weight: bold;
}
div.nav2 a {
    text-decoration: none;
    color: #343434;
    font-size: small;
}
div.nav3 {
    position:relative;
    border: 1px solid #bababa;
    width:300px;
    top:-418px;
    left:-9999px;
    z-index:1;
    background-color:white;
    border-top:none;
}
div.nav3 h3{
   color:grey;
   padding-left:30px;
   padding-top:20px;
}
div.nav3 ul{
    list-style-type:none;
}
div.nav3 li{
    margin:10px;
}
div.nav3 p{
    font-weight:bold;
}
div.nav3 a{
    text-decoration: none;
    color: #343434;
    font-size: small;
}
div.header{
    position:absolute;
    top:120px;
    width:1390px;
    background-image:url(images/硬件.png);
    height:500px;
    margin-left:-8px;
}
div.header h1{
    color:white;
    font-weight:500;
    font-size:40px;
    padding-left:550px;
    padding-top:50px;
}
div.header p{
    color:white;
    padding-left:520px;
    padding-top:0px;
}
p.one{
    display:block;
    position:absolute;
    top:250px;
    left:-350px;
}
p.two{
    display:block;
    position:absolute;
    top:250px;
    left:80px;

}
p span{
    font-size:50px;

}
p.three{
    display:block;
    position:absolute;
    top:250px;
    left:500px;

}
div.content{
    position:relative;
    margin-top:-193px;
    left:-10px;
    top:-180px;
    height:300px;
    background-color:#e8e8e8;
    width:1390px;
}
div.content h1{
    color:#d51a28;
    padding-left:500px;
    font-size:40px;
}
ul.menulist{
    display:inline-block;
    margin-left:200px;
    float:left;
    list-style-type:none;
    width:260px;
}
ul.menulist li.toplist{
    margin-bottom:20px;

}
ul.menulist li.toplist a{
    display:block;
    text-decoration:none;
    //border:1px red solid;
    color:black;
    padding:15px;
    box-shadow: 0 1px 1px #9c9c9c;
    border-top: solid 3px black;
    background-color:white;
    background-image:url(images/箭头.png);
    background-repeat:no-repeat;
    background-position:95%;
}
ul.secondlist{
    list-style-type:none;
    background-color:white;
    box-shadow: 0 1px 1px #9c9c9c;
    border-top:none;
    margin-top:-20px;
    display:block;
    
}
.nonelist{
    display:none !important;
}
ul.secondlist li{
    margin-left:-45px;
}
ul.secondlist a{
    display:block;
    text-decoration:none;
    border-top:1px #E5E5E5 solid;
    padding:10px;
    color:#8B8B7A;
}

div.bottom{
    position:relative;
    background-color:black;
    height:210px;
    color:white;
    width:1370px;
    left:-10px;
    padding-left:20px;
    margin-top:-30px;
    bottom:-10px;

}