@import "温度湿度综合振动实验箱.css";
div.content1 {
    top:150px;
}
div.content1 li{
    font-weight:900;
}
div.content1 p{
    font-size:50px;
    margin-top:10px;
}
div.left img{
    position:absolute;
    left:-60px;
}
div.bottom{
    margin-top:-400px;
}